.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 914px;
}

.u-section-1 .u-video-1 {
  height: 360px;
  width: 640px;
  margin: 153px auto 0;
}

.u-section-1 .u-text-1 {
  width: 680px;
  margin: 30px auto 0;
}

.u-section-1 .u-text-2 {
  width: 680px;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 805px;
  }

  .u-section-1 .u-video-1 {
    margin-top: 81px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 104px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 18px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 53px;
    margin-bottom: 51px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 729px;
  }

  .u-section-1 .u-video-1 {
    margin-top: 58px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 84px;
  }

  .u-section-1 .u-btn-1 {
    margin-bottom: 41px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 668px;
  }

  .u-section-1 .u-video-1 {
    height: 300px;
    margin-top: 70px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
    margin-top: 72px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 40px;
    margin-bottom: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 551px;
  }

  .u-section-1 .u-video-1 {
    height: 190px;
    margin-top: 58px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
    margin-top: 73px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 53px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 70px;
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 399px;
}

.u-section-3 .u-text-1 {
  width: 680px;
  margin: 117px auto 0;
}

.u-section-3 .u-text-2 {
  width: 680px;
  margin: 20px auto 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 36px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 326px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 44px;
  }

  .u-section-3 .u-text-2 {
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 312px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 296px;
  }

  .u-section-3 .u-text-1 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
    margin-bottom: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 282px;
  }

  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 235px;
}

.u-section-4 .u-image-1 {
  width: 651px;
  height: 77px;
  margin: 54px 103px 0 auto;
}

.u-section-4 .u-image-2 {
  width: 129px;
  height: 129px;
  background-image: url("https://user-images.githubusercontent.com/86233883/125130211-eb5e2f80-e100-11eb-9af6-3e3fb0a2dd26.jpg");
  background-position: 50% 50%;
  margin: -103px auto 60px 77px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 277px;
  }

  .u-section-4 .u-image-1 {
    margin-right: auto;
    margin-left: 233px;
  }

  .u-section-4 .u-image-2 {
    margin-top: -92px;
    margin-left: 27px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 280px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 59px;
    margin-left: auto;
  }

  .u-section-4 .u-image-2 {
    margin-top: 8px;
    margin-left: auto;
    margin-bottom: 8px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 327px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 64px;
  }

  .u-section-4 .u-image-2 {
    margin-top: 37px;
    margin-bottom: 43px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 303px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 40px;
  }

  .u-section-4 .u-image-2 {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
